<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <script src="https://kit.fontawesome.com/dc44fbd621.js" crossorigin="anonymous"></script>
    <title>Readability</title>


    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/static/style.css" rel="stylesheet">
    {% block additional_css %}{% endblock %}
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
{% block header %}{% endblock %}
    <!-- main body -->

    {% block main_body %}{% endblock %}

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made by @Klassikcat and Powered by Heroku<br />
                follow in
                <span style="color:#333">
                    <a href="https://github.com/Klassikcat">
                        <i class="fab fa-github">
                        </i>
                    </a>

                    <a href="https://twitter.com/Klassikcat">
                        <i class="fab fa-twitter-square">
                        </i>
                    </a>
                </span>
            </p>
        </div>
    </footer>

</div>

<!-- footer -->
</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- <script src="../static/src/bootstrap.min.js"></script> -->
</body>
</html>
