<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <script src="https://kit.fontawesome.com/dc44fbd621.js" crossorigin="anonymous"></script>
    <title>English Readability</title>

    <!-- caconical link
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    -->

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">
                <img src="./static/readability_icon.png", height="25px">
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/english">English</a>
                <a class="nav-link" href="/korean">Korean</a>
                <a class="nav-link" href="/references">References</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">
            <a href="" class="typewrite" data-period="2000" data-type='["잘 읽히는 글을 쓰고 싶으신가요?", "Readability는 당신의 글을 보고", "글이 읽기 쉬운지 알려줍니다.",
             "AI 기반 Readability와 함께", "당신의 글쓰기 실력을 키워보세요"]'>
                <span class="wrap">
                    <script type="text/javascript" src="./dist/js/typewrite.js"></script>
                </span>
            </a>
        </h1>

        <p class="lead">
            <br />
            Readability는 여러 지표를 통해 가독성을 측정하고, 머신러닝을 통해 교정해야 할 부분을 보여주는 XGBoost 기반의 인공지능 글쓰기 교정 도구입니다.<br/>
            Readability와 함께 당신의 글이 얼마나 읽기 쉬운지 확인하고, 교정해보세요!
        </p>

        <p class="lead">
        <p class="btn-lead">
            <a href="/about" class="btn btn-lg btn-secondary">
                Readability는 어떻게 가독성을 평가하나요?
            </a>
        </p>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made by @Klassikcat and Powered by Heroku<br />
                follow in
                <span style="color:#333">
                    <a href="https://github.com/Klassikcat">
                        <i class="fab fa-github">
                        </i>
                    </a>

                    <a href="https://twitter.com/Klassikcat">
                        <i class="fab fa-twitter-square">
                        </i>
                    </a>
                </span>
            </p>
        </div>
    </footer>

</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./assets/js/vendor/popper.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
  </body>
</html>
