{% extends 'base.html' %}

{% block main_body %}
<main role="main" class="inner cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <form method="POST" action="/api/editor">
                    <div class="form">
                        <label for="exampleFormControlTextarea1">Text</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <table class="table table-striped table-bordered" style="color: white;">
                    <thead>
                    <tr>
                        <th>가독성</th>
                        <th>읽는 데에 걸리는 시간</th>
                        <th>접속사 숫자</th>
                        <th>어휘 다양성</th>
                        <th>드물게 쓰는 어휘 개수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th></th>
                        <td>{{readability}}</td>
                        <td>{{words_len}}</td>
                        <td>{{conjunction}}</td>
                        <td>{{voca_diverse}}</td>
                        <td>{{rare_words}}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}