{% extends 'base.html' %}

{% block header %}
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">
            <a href="/">
                <img src="../static/readability_icon.png", height="25px">
            </a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/english">English</a>
            <a class="nav-link btn disabled" href="/korean">Korean</a>
            <a class="nav-link" href="/reference">References</a>
        </nav>
    </div>
</header>
{% endblock %}

{% block main_body %}

